

/.idea/
/PeruMindMap.mmd
/build/
/src/test/resources/homepage_images/
/src/test/resources/peru_essentials_screenshots/
/src/test/resources/contact_screenshots/
/src/test/resources/fast_facts_screenshots/
/src/test/resources/discover_peru_screenshots/
/src/test/resources/peru_target_markets_screenshots/
/src/test/resources/videos/apptool/app/91/video/
/src/test/resources/active_peru_screenshots/
/src/test/resources/explore_peru_screenshots/
/src/test/resources/introduction_screenshots/
/src/test/resources/pdf/
/src/main/
/src/test/resources/test.xml
